/*
_________________________________________________

--- MEDIA QUERIES for "Mobile" viewport width ---
_________________________________________________

*/
@media (min-width: $width--mobile) {
  .game {
    display: flex;
    flex-direction: column;
  }

  .game__tiles {
    order: 2;
    align-self: center;

    margin-top: 50px;
  }

  .game__difficulty {
    order: 1;
    align-self: center;
  }

  .game__difficulty-heading {
    padding-bottom: 5px;

    font-size: 25px;
    font-weight: 700;
    line-height: 35px;

    border-bottom: 2px dashed $black;
  }

  .game__start-button {
    width: 100%;
    min-height: 45px;

    margin-top: 50px;

    font-size: 25px;
    line-height: 30px;
    color: $black;

    background-color: $game-start-button;

    border: 1px solid $black;
    border-radius: 30px;

    box-shadow: 0 2px 5px rgba($black, 0.5);
    transition-duration: 0.05s;
    transition-timing-function: ease;
    transition-property: color, background-color;
  }

  .game__loss-message {
    display: none;

    width: 100%;
    min-height: 50px;

    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;

    border-top: 4px double $black;
    border-bottom: 4px double $black;


    &--show {
      display: block;
    }
  }


  .game__start-button:hover,
  .game__start-button:focus  {
    background-color: $game-start-button--hover;
  }

  .game__start-button:active {
    color: $white;
    background-color: $game-start-button--active;
  }


  /* ---------------------- End of "Mobile" MEDIA QUERIES ---------------------- */
}


/*
_________________________________________________

--- MEDIA QUERIES for "Tablet" viewport width ---
_________________________________________________

*/
@media (min-width: $width--tablet) {
  .game {
    justify-content: center;
  }

  .game__tiles {
    align-self: center;

    margin-top: 50px;
  }

  .game__difficulty {
    margin-right: auto;
    margin-left: 80px;
  }


  /* ---------------------- End of "Tablet" MEDIA QUERIES ---------------------- */
}


/*
__________________________________________________

--- MEDIA QUERIES for "Desktop" viewport width ---
__________________________________________________

*/
@media (min-width: $width--desktop) {
  .game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 60px;
  }

  .game__tiles {
    order: 1;
    
    box-shadow: 0 2px 5px 1px rgba($black, 0.5);
  }

  .game__difficulty {
    order: 2;

    margin: 0;
    margin-left: 70px;
  }


  /* ---------------------- End of "Desktop" MEDIA QUERIES ---------------------- */
}