/*
_________________________________________________

--- MEDIA QUERIES for "Mobile" viewport width ---
_________________________________________________

*/
@media (min-width: $width--mobile) {
  .main-content {
    width: 100vw;
    min-height: 100vh;

    background-color: $smoke;
  }

  .main-content__main-heading {
    display: inline-block;

    width: 100%;

    margin: 0 auto;
    margin-top: 40px;
    padding-left: 10px;
    padding-bottom: 10px;

    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;

    border-bottom: 4px double $black;
  }


  /* ---------------------- End of "Mobile" MEDIA QUERIES ---------------------- */
}


/*
_________________________________________________

--- MEDIA QUERIES for "Tablet" viewport width ---
_________________________________________________

*/
@media (min-width: $width--tablet) {
  .main-content__main-heading {
    display: inline-block;

    width: auto;

    margin: 0;
    margin-top: 40px;
    margin-left: 80px;
    padding-left: 10px;
    padding-bottom: 10px;

    font-size: 40px;
    font-weight: 400;
    line-height: 50px;

    border-bottom: 4px double $black;
    border-left: 4px double $black;
  }


  /* ---------------------- End of "Tablet" MEDIA QUERIES ---------------------- */
}