// === VARIABLES ===

// *** for different viewport Widths ***
$width--mobile: 280px;
$width--tablet: 768px;
$width--desktop: 1150px;


// *** for Colors ***
$black: #000000;
$white: #ffffff;
$smoke: #f5f5f5;

$overlay: #dda0dd;

$tile--top-left: #e6e6fa;
$tile--top-right: #ffe4e1;
$tile--bottom-left: #fafad2;
$tile--bottom-right: #98fb98;

$game-start-button: #00ff00;
$game-start-button--hover: #32cd32;
$game-start-button--active: #228b22;