// === VARIABLES ===

// *** for different viewport Widths ***
$width--mobile: 280px;
$width--tablet: 768px;
$width--desktop: 1150px;


// *** for Colors ***
$black: #000000;
$white: #ffffff;

$invalid: #ff6347;

$background--main: #e6e6fa;
$background--form: #f8f8ff;
$background--fieldset: #f8f8ff;
$background--sumbit-button: #4169e1;
$background--sumbit-button-hover: #4149e1;
$background--sumbit-button-active: #41e9e1;